{
  "root": true,
  "env": {
    "browser": true
  },
  "extends": [
    "plugin:vue/essential",
    "eslint:recommended"
  ],
  "rules": {
    "no-console": "warn",
    "no-unused-vars": "warn",
    "no-empty": "warn",
    "semi": "error",
    "vue/no-unused-vars": "warn"
  },
  "parserOptions": {
    "parser": "babel-eslint"
  }
}