$--background-color: #111111;
$--base-color: #fcfafa;

.library-pane {
  color: $--base-color;
  background-color: $--background-color;
  position: absolute;
  top: 0;
  bottom: 60px;
  width: 100%;
  overflow: hidden;

  .switch-block {
    background: linear-gradient(rgb(232, 120, 152) 0%, rgb(17, 17, 17) 100%);
  }

  .love-play-list,
  .love-song-list {
    position: absolute;
    top: 74px;
    bottom: 0;
    width: 100%;
    overflow: hidden;

    >div {
      padding-bottom: 10px;
      padding-top: 10px;
    }
  }

  .love-play-list {
    .loved-list-item {
      width: 94%;
      margin: 10px auto;
      display: flex;


      >img {
        height: 85px;
        width: 85px;

      }

      >div {
        flex: 1;
        padding-left: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        overflow: hidden;

        >div:first-child {
          color: white;
          font-size: 14px;
          line-height: 24px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
     
        }

        >div:last-child {
          font-size: 12px;
          color: #aaa;
        }
      }
    }
  }
}