/* http://meyerweb.com/eric/tools/css/reset/
   v4.0 | 20180602
   License: none (public domain)
*/

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td {
	margin: 0;
	padding: 0;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section {
	display: block;
}

ol,
ul {
	list-style: none;
}

// 盒子模型
*,
:after,
:before {
	box-sizing: border-box;
}

body {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 12px;
	line-height: 1.5;
	background-color: #111111;
	color: #fff;
}