$-z-index-1: 100;
$-z-index-2: 110;
$--mini-height: 55px;
$--background-color: #111;

.global-player {
  height: $--mini-height;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 60px;

  .mini {
    position: relative;
    z-index: $-z-index-1;
    height: $--mini-height;
    line-height: $--mini-height;
    background-color: rgb(32, 36, 39);
    color: rgb(252, 250, 250);
    box-shadow: 0 -2px 2px -2px #aaa;
    display: flex;
    justify-content: space-between;
    align-items: center;

    >.music-info {
      margin-left: 15px;
      margin-right: 15px;
      width: 150px;

      flex-grow: 1;
      height: $--mini-height - 2px;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      //试了试这样可以
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      color: #ccc;
      font-size: 14px;

      >.sp-dot {
        color: #fff;
      }
    }

    >img {
      height: $--mini-height - 2px;
      width: $--mini-height;
    }

    >.action {
      height: $--mini-height - 2px;
      width: $--mini-height;
      position: relative;

      >i.spfont {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
      }
    }

    .mini-progress-bar {
      position: absolute;
      z-index: $-z-index-2;
      top: -1px;
      width: 15%; //这个就是播放器进度显示条
      background-color: white;
      height: 1px;
    }
  }

  .full-screen-player {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $--background-color;
    color: #fff;
    z-index: 150;

    .cd {

      display: inline-block;
      position: relative;
      height: 200px;
      width: 200px;


      .border {
        width: 100%;
        height: 100%;
        border-radius: 50%;
        background-color: goldenrod;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }

      .black {
        width: 60%;
        height: 60%;
        border-radius: 50%;
        background-color: green;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }



      .white {
        width: 95%;
        height: 95%;
        border-radius: 50%;
        background-color: red;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }


    }

    .controll-progress-bar {
      width: 80%;
      height: 2px;
      background-color: #aaa;
      position: relative;

      .progress-bar {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;

        background-color: #fff;
      }
    }
  }
}