$-z-index-1: 100;
$-z-index-2: 110;
$--mini-height: 55px;
$--background-color: #111;

@mixin absolute-center-middle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin absolute-100 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

.global-player {
  height: $--mini-height;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 60px;

  .mini {
    position: relative;
    z-index: $-z-index-1;
    height: $--mini-height;
    line-height: $--mini-height;
    background-color: rgb(32, 36, 39);
    color: rgb(252, 250, 250);
    box-shadow: 0 -2px 2px -2px #aaa;
    display: flex;
    justify-content: space-between;
    align-items: center;

    >.music-info {
      margin-left: 15px;
      margin-right: 15px;
      width: 150px;

      flex-grow: 1;
      height: $--mini-height - 2px;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      //试了试这样可以
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      color: #ccc;
      font-size: 14px;

      >.sp-dot {
        color: #fff;
      }
    }

    >img {
      height: $--mini-height - 2px;
      width: $--mini-height;
    }

    >.action {
      height: $--mini-height - 2px;
      width: $--mini-height;
      position: relative;

      >i.spfont {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
      }
    }

    .mini-progress-bar {
      position: absolute;
      z-index: $-z-index-2;
      top: -1px;
      width: 15%; //这个就是播放器进度显示条
      background-color: white;
      height: 1px;
    }
  }

  .full-screen-player {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $--background-color;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: hidden;
    color: #fff;
    z-index: 150;


    >.frosted-glass-img-layer {
      height: 100%;
      width: 100%;
      background: inherit;
      filter: blur(20px);
    }

    >.frosted-glass-color-layer {
      @include absolute-100();
      background-color: rgba(69, 69, 69, 0.6);
    }

    >.content {
      @include absolute-100();

      .turntable {
        height: 110vw;
        position: relative;
        overflow: hidden;
        margin-top: 5vw;

        >.needle {
          position: relative;
          left: 50%;
          top: -1vw;
          z-index: 10;

          transform-origin: top left;
          display: inline-block;
          height: 35vw;
          width: 25vw;
          background-image: url("../../needle.png");
          background-repeat: no-repeat;
          background-size: contain;
          transition: transform 0.5s;
        }


        >.cd {
          position: relative;

          height: 70vw;
          width: 70vw;
          margin: 0 auto;
          margin-top: -15vw;

          .album {
            width: 60%;
            height: 60%;
            border-radius: 50%;
            background-color: rgba(130, 130, 130, 0.6);
            @include absolute-center-middle();
            z-index: 10;
          }

          &::before {
            content: "";
            width: 100%;
            height: 100%;
            border-radius: 50%;
            @include absolute-center-middle();
            background-color: rgba(130, 130, 130, 0.6);
          }

          &::after {
            content: "";
            width: 96%;
            height: 96%;
            border-radius: 50%;
            @include absolute-center-middle();
            background: rgb(0, 0, 0);
            background: linear-gradient(45deg, rgba(0, 0, 0, 1) 0%, rgba(57, 56, 57, 1) 50%, rgba(0, 0, 0, 1) 100%);
          }

        }
      }


      .time-progress-bar {
        margin: 4vw auto;
        width: 70%;
        height: 2px;
        background-color: #888;
        position: relative;

        &-wrapper {
          position: absolute;
          left: 0;
          bottom: 12vh;
          width: 100vw;
        }


        >.progress-bar {
          position: absolute;
          top: 0;
          left: 0;
          height: 100%;

          background-color: #fff;
        }

        >span:first-child {
          position: absolute;
          left: 0;
          top: 0;
          transform: translate(-125%, -50%);
        }

        >span:last-child {
          position: absolute;
          right: 0;
          top: 0;
          color: #888;
          transform: translate(125%, -50%);
        }


      }

      .top-block {


        >p:first-child {
          position: relative;
          line-height: 50px;
          padding: 0 3%;

          &>span:nth-child(2) {
            position: absolute;
            max-width: 200px;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            left: 50%;
            transform: translateX(-50%);
            font-size: 14px;
          }



          &>span:first-child {
            float: left;
            font-size: 20px;
            width: 2em;

            >.spfont {
              font-size: 20px;

            }
          }

          &>span:last-child {
            float: right;

            >.sp-loved {
              color: #1db954;
            }

            font-size: 20px;


            >.spfont {
              font-size: 20px;

              display: inline-block;

              &:first-child {
                width: 2em;
                text-align: center;
              }
            }
          }
        }

        >p:last-child {
          text-align: center;
        }
      }

      .controlls {
        position: absolute;
        left: 0;
        bottom: 5vh;
        width: 100vw;
        margin-top: 1vh;

        display: flex;
        justify-content: space-around;
        align-items: center;

        >.play-controll {
          >.spfont {
            font-size: 36px;
          }
        }

        >.spfont {
          font-size: 24px;
        }
      }

    }
  }

  .player-enter {
    transform: translateY(60px);
  }

  .player-leave-active,
  .player-enter-active {
    transition: all 0.3s ease;
  }

  .player-leave-to {
    transform: translateY(100vh);
  }

}